
h2 {
    color: #00703c;
    font-size: 1.3rem;
  }

.section-sp2{
	padding-top: 1%;
	padding-bottom:0px;
}

.container{
    padding: 0;
    padding-left: 0 !important;
}

.py-5{
    padding-top: 0 !important   ;
} 
